h1 {
  font-size: clamp(2.4375rem, 2.1785rem + 1.105vw, 3.0625rem);
}
.title {
  font-size: 1.56rem;
}

p {
  font-size: 1rem;
}

.hand {
  background-image: url("../../assets/images/emoji/wavingHand.png");
  background-size: contain; /* Ensures the image fills the span */
  background-repeat: no-repeat; /* Prevents image repetition */
  cursor: pointer;
}
